
:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat", sans-serif;
    --nav-font: "Lato", sans-serif;
  }
  
  :root {
      --background-color: #222222;
      --background-color-rgb: 34, 34, 44;
      --default-color: #b2b2b2;
      --default-color-rgb: 178,178,178;
      --primary-color: #0f6e56;
      --primary-color-rgb: 15,110,86;
      --secundary-color: #eaeaea;
      --secundary-color-rgb: 234,234,234; 
      --contrast-color: #ffffff;
      --contrast-color-rgb: 255, 255, 255;
  }
  
  
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222222; /* Color de fondo de la pista */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra de desplazamiento */
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: rgba(var(--primary-color-rgb), 0.7);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
  }
  
  section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    overflow: clip;
  }
  
  /*--------------------------------------------------------------
  # Section Title
  --------------------------------------------------------------*/
  .section-title {
    text-align: center;
    padding-bottom: 60px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
  }
  
  .section-title h2:before,
  .section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--primary-color);
    display: inline-block;
  }
  
  .section-title h2:before {
    margin: 0 15px 10px 0;
  }
  
  .section-title h2:after {
    margin: 0 0 10px 15px;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Page Title & Breadcrumbs
  --------------------------------------------------------------*/
  .page-title {
    color: var(--default-color);
    background-color: var(--background-color);
  }
  
  .page-title .heading {
    padding: 80px 0;
    border-top: 1px solid rgba(var(--default-color-rgb), 0.1);
  }
  
  .page-title .heading h1 {
    font-size: 38px;
    font-weight: 700;
    color: var(--secondary-color);
  }
  
  .page-title nav {
    background-color: rgba(var(--default-color-rgb), 0.05);
    padding: 20px 0;
  }
  
  .page-title nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .page-title nav ol li+li {
    padding-left: 10px;
  }
  
  .page-title nav ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: rgba(var(--default-color-rgb), 0.3);
  }
  
  /*--------------------------------------------------------------
  # Global Header
  --------------------------------------------------------------*/
  .header {
    --background-color: #ffffff;
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  .header .logo img {
    max-height: 60px;
    margin-right: 2px;
  }
  
  .header .btn-getstarted,
  .header .btn-getstarted:focus {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 4px 20px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid var(--contrast-color);
    color: var(--contrast-color);
  }
  
  .header .btn-getstarted:hover,
  .header .btn-getstarted:focus:hover {
    color: var(--contrast-color);
    background: rgba(var(--primary-color-rgb), 0.85);
  }
  
  @media (max-width: 1200px) {
    .header .logo {
      order: 1;
    }
  
    .header .btn-getstarted {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 20px;
    }
  
    .header .navmenu {
      order: 3;
    }
  }
  
  /* Global Header on page scroll
  ------------------------------*/
  .scrolled .header {
    --background-color: #222222;
    --secondary-color: #444444;
    --nav-color: #444444;
    --nav-hover-color: #e84545;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Global Scroll Margin Top
  ------------------------------*/
  section {
    scroll-margin-top: 77px;
  }
  
  @media (max-width: 1199px) {
    section {
      scroll-margin-top: 66px;
    }
  }
  
  /* Home Page Custom Header
  ------------------------------*/
  .index-page .header {
    --background-color: rgba(255, 255, 255, 0);
    --secondary-color: #ffffff;
    --nav-color: rgba(255, 255, 255, 0.515);
    --nav-hover-color: #ffffff;
  }
  
  /* Home Page Custom Header on page scroll
  ------------------------------*/
  .index-page.scrolled .header {
    --background-color: #752828;
    --secondary-color: #444444;
    --nav-color: #444444;
    --nav-hover-color: #d83535;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  @media (min-width: 500px) {
    .navmenu {
      padding: 0;
    }
  
    .navmenu ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navmenu li {
      position: relative;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-color);
      padding: 18px 15px;
      font-size: 16px;
      font-family: var(--nav-font);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  
    .navmenu li:last-child a {
      padding-right: 0;
    }
  
    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
      color: var(--nav-hover-color);
    }
  
    .navmenu .dropdown ul {
      margin: 0;
      padding: 10px 0;
      background: var(--nav-dropdown-background-color);
      display: block;
      position: absolute;
      visibility: hidden;
      left: 14px;
      top: 130%;
      opacity: 0;
      transition: 0.3s;
      border-radius: 4px;
      z-index: 99;
    }
  
    .navmenu .dropdown ul li {
      min-width: 200px;
    }
  
    .navmenu .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--nav-dropdown-color);
    }
  
    .navmenu .dropdown ul a i {
      font-size: 12px;
    }
  
    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
      color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navmenu .dropdown .dropdown ul {
      top: 0;
      left: -90%;
      visibility: hidden;
    }
  
    .navmenu .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: -100%;
      visibility: visible;
    }
  
    .navmenu .megamenu {
      position: static;
    }
  
    .navmenu .megamenu ul {
      margin: 0;
      padding: 10px;
      background: var(--nav-dropdown-background-color);
      box-shadow: 0px 0px 20px rgba(var(--default-color-rgb), 0.1);
      display: block;
      position: absolute;
      top: 130%;
      left: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      display: flex;
      transition: 0.3s;
      border-radius: 4px;
      z-index: 99;
    }
  
    .navmenu .megamenu ul li {
      flex: 1;
    }
  
    .navmenu .megamenu ul li a,
    .navmenu .megamenu ul li:hover>a {
      padding: 10px 20px;
      font-size: 15px;
      color: var(--nav-dropdown-color);
    }
  
    .navmenu .megamenu ul li a:hover,
    .navmenu .megamenu ul li .active,
    .navmenu .megamenu ul li .active:hover {
      color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .megamenu:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navmenu .dd-box-shadow {
      box-shadow: 0px 0px 30px rgba(var(--default-color-rgb), 0.15);
    }
  }
  
  /* Mobile Navigation */
  @media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 9997;
    }
  
    .navmenu ul {
      display: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-mobile-background-color);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
      box-shadow: 0px 0px 30px rgba(var(--default-color-rgb), 0.1);
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: rgba(var(--primary-color-rgb), 0.1);
    }
  
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
      background-color: var(--primary-color);
      color: var(--contrast-color);
    }
  
    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .active i,
    .navmenu .active:focus i {
      background-color: var(--primary-color);
      color: var(--contrast-color);
      transform: rotate(180deg);
    }
  
    .navmenu .dropdown ul,
    .navmenu .megamenu ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: var(--nav-dropdown-background-color);
      transition: all 0.5s ease-in-out;
    }
  
    .navmenu .dropdown ul ul,
    .navmenu .megamenu ul ul {
      background-color: rgba(33, 37, 41, 0.1);
    }
  
    .navmenu .dropdown>.dropdown-active,
    .navmenu .megamenu>.dropdown-active {
      display: block;
      background-color: rgba(33, 37, 41, 0.03);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }
  
    .mobile-nav-active .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;
    }
  
    .mobile-nav-active .navmenu>ul {
      display: block;
    }
  }
  
  /*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: #ffffff;
    line-height: 0;
  }
  
  .scroll-top:hover {
    background-color: rgba(var(--primary-color-rgb), 0.8);
    color: #ffffff;
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: var(--background-color);
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #preloader div {
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    position: absolute;
    left: 50%;
  }
  
  #preloader div:nth-child(1) {
    left: calc(50% + 8px);
    animation: animate-preloader-1 0.6s infinite;
  }
  
  #preloader div:nth-child(2) {
    left: calc(50% + 8px);
    animation: animate-preloader-2 0.6s infinite;
  }
  
  #preloader div:nth-child(3) {
    left: calc(50% + 32px);
    animation: animate-preloader-2 0.6s infinite;
  }
  
  #preloader div:nth-child(4) {
    left: calc(50% + 56px);
    animation: animate-preloader-3 0.6s infinite;
  }
  
  @keyframes animate-preloader-1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes animate-preloader-3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes animate-preloader-2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(24px, 0);
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Home Page
  --------------------------------------------------------------*/
  /* Hero Section - Home Page
  ------------------------------*/
  .hero {
    --default-color: #ffffff;
    --default-color-rgb: 255, 255, 255;
    --background-color: #00000000;
    --background-color-rgb: 0, 0, 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 160px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero:before {
    content: "";
    background: rgba(var(--background-color-rgb), 0.5);
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .hero .container {
    position: relative;
    z-index: 3;
  }
  
  .hero h2 {
    color: var(--contrast-color);
    margin: 0;
    font-size: 44px;
    font-weight: 700;
  }
  
  .hero p {
    color: rgba(var(--default-color-rgb), 0.8);
    margin: 5px 0 0 0;
    font-size: 20px;
  }
  
  
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 32px;
    }
  
    .hero p {
      font-size: 18px;
    }
  }
  
  /* Marcas Section - Home Page
  ------------------------------*/
  .parners {
    padding: 40px 0;
  }
  
  .parners .parner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .parners .parner-logo img {
    padding: 0px;
    max-width: 80%;
    transition: 0.3s;
    opacity: 0.5;
    filter: grayscale(100);
  }
  
  .parners .parner-logo img:hover {
    filter: none;
    opacity: 1;
  }
  
  @media (max-width: 540px) {
    .parners .parner-logo img {
      padding: 20px;
    }
  }
  
  /*  Points of interest
  ------------------------------*/
  .info-card {
    --default-color: #ffffff;
    --background-color: #000000;
    --background-color-rgb: 0, 0, 0;
    padding: 223px 0;
    position: relative;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  
  .info-card img {
    position:fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
  }
  
  .info-card:before {
    content: "";
    background: rgba(var(--background-color-rgb), 0.5);
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .info-card .container {
    position: relative;
    z-index: 3;
  }
  
  .info-card h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--default-color);
  }
  
  .info-card p {
    color: var(--default-color);
  }
  
  .info-card .cta-btn {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid var(--contrast-color);
    color: var(--contrast-color);
  }
  
  .info-card .cta-btn:hover {
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
  }
  
  /* Services Section - Home Page
  ------------------------------*/
  .services .service-item {
    position: relative;
    padding-top: 40px;
  }
  
  .services .service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(var(--default-color-rgb), 0.1);
  }
  
  .services .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: var(--primary-color);
    border-right: 5px solid var(--background-color);
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .services .service-item .icon i {
    color: rgba(var(--default-color-rgb), 0.7);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
  .services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(var(--primary-color-rgb), 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
  }
  
  .services .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .service-item .title a {
    color: var(--secondary-color);
  }
  
  .services .service-item .title a:hover {
    color: var(--primary-color);
  }
  
  .services .service-item .description {
    line-height: 24px;
    font-size: 14px;
  }
  
  /* Contact Section - Home Page
  ------------------------------*/
  .contact .info-item {
    background: rgba(var(--default-color-rgb), 0.03);
    padding: 30px;
  }
  
  .contact .info-item i {
    font-size: 38px;
    line-height: 0;
    color: var(--primary-color);
  }
  
  .contact .info-item h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }
  
  .contact .info-item p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* # Footer
  --------------------------------------------------------------*/
  .footer {
    --background-color: #222222;
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding-bottom: 50px;
  }
  
  .footer .footer-top {
    padding-top: 30px;
  }
  
  .footer .footer-about .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-about .logo img {
    max-height: 20px;
    margin-right: 6px;
    
  }
  
  
  
  .footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(var(--default-color-rgb), 0.5);
    font-size: 16px;
    color: rgba(var(--default-color-rgb), 0.5);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .footer h4 {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(var(--default-color-rgb), 0.8);
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: var(--primary-color);
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  
  .footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(var(--default-color-rgb), 0.05);
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .credits {
    margin-top: 6px;
    font-size: 13px;
  }
  
  /* -----------------------------------Estilos para el dashboard-------------------------------------------- */
  
  
  .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background:  rgba(var(--default-color-rgb), 0.03);
    padding: 6px 14px;*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    z-index: 99;
    transition: all 0.5s ease;
    
  }
  
  .sidebar.open{
    width: 250px;
  }
  
  .sidebar .logo{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .sidebar .logo .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .sidebar .logo .name-logo{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .logo .icon,
  .sidebar.open .logo .name-logo {
    opacity: 1;
  }
  
  .sidebar .logo #sideBoton{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  
  }
  
  .sidebar.open .logo #sideBoton{
    text-align: right;
  }
  
  .sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  
  .sidebar .sidebar-nav{
    margin-top: 20px;
    height: 100%;
  }
  
  .sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  
  }
  
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sidebar.open li .tooltip{
    display: none;
  }
  
  .sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
  }
  
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
  
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--background-color);
  }
  
  .sidebar li a:hover{
    background: var(--primary-color);
  }
  
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar li a:hover .links_name,
  .sidebar li:hover i{
    transition: all 0.5s ease;
    color: #11101d;
  }
  
  .sidebar li i{ 
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  
  @media (max-width: 420px){
    .sidebar li .tooltip{
      display: none;
    }
  }
  